<a href="https://colab.research.google.com/github/aljabardotlog/youtube_datascience/blob/master/1_megelola_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import libraries
import pandas as pd

In [0]:
#define file csv
url = pd.read_csv("http://46.101.230.157/dilan/pandas_tutorial_read.csv", delimiter=';', names = ['adl_datetime', 'event', 'country_name', 'country_id', 'source', 'location'])

In [117]:
#file header 5 rows
data_top = url.head(10)
data_top

          adl_datetime event country_name  country_id   source       location
0  2018-01-01 00:01:01  read    country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read    country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read    country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read    country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read    country_8  2458151265   Reddit  North America
5  2018-01-01 00:05:42  read    country_6  2458151266   Reddit  North America
6  2018-01-01 00:06:06  read    country_2  2458151267   Reddit         Europe
7  2018-01-01 00:06:15  read    country_6  2458151268  AdWords         Europe
8  2018-01-01 00:07:21  read    country_7  2458151269  AdWords  North America
9  2018-01-01 00:07:29  read    country_5  2458151270   Reddit  North America

In [118]:
#file last 5 rows
data_tail = url.tail(15)
data_tail

             adl_datetime event  ...   source       location
1780  2018-01-01 23:51:46  read  ...  AdWords         Africa
1781  2018-01-01 23:51:52  read  ...   Reddit           Asia
1782  2018-01-01 23:53:03  read  ...  AdWords           Asia
1783  2018-01-01 23:53:33  read  ...   Reddit           Asia
1784  2018-01-01 23:54:03  read  ...      SEO  North America
1785  2018-01-01 23:54:26  read  ...  AdWords         Africa
1786  2018-01-01 23:54:39  read  ...   Reddit           Asia
1787  2018-01-01 23:54:45  read  ...   Reddit           Asia
1788  2018-01-01 23:55:04  read  ...  AdWords         Europe
1789  2018-01-01 23:56:42  read  ...  AdWords           Asia
1790  2018-01-01 23:57:14  read  ...  AdWords  North America
1791  2018-01-01 23:58:33  read  ...      SEO           Asia
1792  2018-01-01 23:59:36  read  ...   Reddit           Asia
1793  2018-01-01 23:59:36  read  ...  AdWords         Europe
1794  2018-01-01 23:59:38  read  ...   Reddit           Asia

[15 rows x 6 columns]

In [119]:
#Random Chosen 5 rows
data_random = url.sample(5)
data_random

             adl_datetime event  ...   source       location
738   2018-01-01 10:00:14  read  ...   Reddit           Asia
1195  2018-01-01 16:10:40  read  ...  AdWords         Europe
968   2018-01-01 12:53:25  read  ...      SEO  North America
1727  2018-01-01 23:15:27  read  ...   Reddit           Asia
243   2018-01-01 03:23:09  read  ...   Reddit  South America

[5 rows x 6 columns]

In [155]:
#Specific Filed
data_random[['country_id', 'location']]

      country_id       location
738   2458151999           Asia
1195  2458152456         Europe
968   2458152229  North America
1727  2458152988           Asia
243   2458151504  South America

In [156]:
#Show summary group by objects
data_random.location

738              Asia
1195           Europe
968     North America
1727             Asia
243     South America
Name: location, dtype: object

In [157]:
#Using Where ...
countUrl = url[url.location == 'Asia']
countUrl.sample(5)

             adl_datetime event country_name  country_id   source location
612   2018-01-01 08:17:43  read    country_2  2458151873  AdWords     Asia
1386  2018-01-01 18:53:34  read    country_8  2458152647   Reddit     Asia
1424  2018-01-01 19:25:00  read    country_8  2458152685   Reddit     Asia
1206  2018-01-01 16:23:49  read    country_7  2458152467  AdWords     Asia
1522  2018-01-01 20:41:16  read    country_6  2458152783  AdWords     Asia

In [158]:
#Using where ... and ...
countUrl2 = url[url.location == 'Asia'][url.source == 'SEO']
countUrl2.sample(15)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

             adl_datetime event country_name  country_id source location
1601  2018-01-01 21:41:50  read    country_2  2458152862    SEO     Asia
1054  2018-01-01 14:10:19  read    country_5  2458152315    SEO     Asia
1154  2018-01-01 15:34:33  read    country_5  2458152415    SEO     Asia
692   2018-01-01 09:25:31  read    country_2  2458151953    SEO     Asia
358   2018-01-01 04:46:36  read    country_2  2458151619    SEO     Asia
1527  2018-01-01 20:43:33  read    country_7  2458152788    SEO     Asia
648   2018-01-01 08:51:51  read    country_5  2458151909    SEO     Asia
1675  2018-01-01 22:43:25  read    country_5  2458152936    SEO     Asia
1257  2018-01-01 16:59:56  read    country_1  2458152518    SEO     Asia
295   2018-01-01 03:56:21  read    country_8  2458151556    SEO     Asia
1791  2018-01-01 23:58:33  read    country_8  2458153052    SEO     Asia
207   2018-01-01 02:55:28  read    country_2  2458151468    SEO     Asia
1168  2018-01-01 15:45:08  read    country_5  2458152429    SEO     Asia
1140  2018-01-01 15:18:23  read    country_6  2458152401    SEO     Asia
827   2018-01-01 11:15:43  read    country_5  2458152088    SEO     Asia

In [152]:
#Count rows
countUrl2.count()

adl_datetime    34
event           34
country_name    34
country_id      34
source          34
location        34
dtype: int64