In [1]:
#import pandas
import pandas as pd

In [ ]:
#load csv files
biodata = pd.read_csv("adl_biodata.csv", delimiter=';')
covid = pd.read_csv("status_covid.csv", delimiter=';')

In [ ]:
#android_devices.csv header output
biodata.head(5)

In [ ]:
#user_devices.csv header output
covid.head(5)

In [ ]:
#Join Files
#In SQL there 2 tables such as biodata and covid
#in sql "select * from biodata inner join covid where biodata.id_covid=covid.id_covid limit 5"
res = pd.merge(biodata,
                 covid[['id_covid','ket_id']],
                 on='id_covid',
                 how='left')
res.count()

In [ ]:
res_data = res[['id_orang','nama','jen_kel','umur','status','ket_id']]
res_data.count()

In [ ]:
#where status = Kawin
res_data = res[res.id_orang == 48]
res_data

In [ ]:
#where status = kawin and umur > 25
res_result = res[(res.ket_id == 'positif') & (res.umur > 25)]
res_result.count()

In [ ]:
#order by id_orang
res_result.sort_values(by=['id_orang'], ascending=True)

In [31]:
#android_devices.csv header output
biodata.head(5)

   id_orang nama jen_kel  umur       status  id_covid
0         1    A       L    20        Kawin         3
1         2    B       P    21  Belum Kawin         2
2         3    C       L    19        Kawin         1
3         4    D       P    17  Belum Kawin         3
4         5    E       L    16        Kawin         2

In [32]:
#user_devices.csv header output
covid.head(5)

   id_covid    ket_id
0         1   positif
1         2       odp
2         3       pdp
3         4       otg
4         5  negative

In [33]:
#Join Files
#In SQL there 2 tables such as biodata and covid
#in sql "select * from biodata inner join covid where biodata.id_covid=covid.id_covid limit 5"
res = pd.merge(biodata,
                 covid[['id_covid','ket_id']],
                 on='id_covid',
                 how='left')
res.count()

id_orang    100
nama        100
jen_kel     100
umur        100
status      100
id_covid    100
ket_id      100
dtype: int64

In [39]:
res_data = res[['id_orang','nama','jen_kel','umur','status','ket_id']]
res_data.count()

id_orang    100
nama        100
jen_kel     100
umur        100
status      100
ket_id      100
dtype: int64

In [40]:
#where status = Kawin
res_data = res[res.id_orang == 48]
res_data

    id_orang nama jen_kel  umur       status  id_covid    ket_id
47        48    L       P    27  Belum Kawin         5  negative

In [42]:
#where status = kawin and umur > 25
res_result = res[(res.ket_id == 'positif') & (res.umur > 25)]
res_result.count()

id_orang    19
nama        19
jen_kel     19
umur        19
status      19
id_covid    19
ket_id      19
dtype: int64

In [43]:
#order by id_orang
res_result.sort_values(by=['id_orang'], ascending=True)

    id_orang nama jen_kel  umur       status  id_covid   ket_id
5          6    F       L    28  Belum Kawin         1  positif
24        25    Y       L    29        Kawin         1  positif
25        26    Z       P    29  Belum Kawin         1  positif
26        27   AA       L    28        Kawin         1  positif
27        28   AB       P    29  Belum Kawin         1  positif
28        29   AC       L    27        Kawin         1  positif
36        37    A       L    32        Kawin         1  positif
50        51    O       L    27        Kawin         1  positif
55        56    T       P    27  Belum Kawin         1  positif
61        62    Z       P    27  Belum Kawin         1  positif
65        66   AD       P    27  Belum Kawin         1  positif
69        70   AH       P    27  Belum Kawin         1  positif
70        71   AI       L    27        Kawin         1  positif
74        75    C       L    27        Kawin         1  positif
75        76    D       P    27  Belum Kawin         1  positif
81        82    J       P    27  Belum Kawin         1  positif
86        87    O       L    27        Kawin         1  positif
94        95    W       L    27        Kawin         1  positif
97        98    Z       P    27  Belum Kawin         1  positif